SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/GG1TbHIjID_zR9gVIkHUI
DEPLOYER_PRIVATE_KEY=
BACKEND_PORT=3000
TRUSTED_OIDC_ISSUER=https://token.actions.githubusercontent.com
TRUSTED_SIGNER_IDENTITY=
REKOR_URL=https://rekor.sigstore.dev
FULCIO_URL=https://fulcio.sigstore.dev
